*{
  margin: 0;
  padding:0;
overflow: none;
scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: black;
}
.nav{
  position: fixed;
  top:0;
  display: block;
  left:0;
  background: linear-gradient(35deg,rgb(236, 30, 72),rgb(255, 0, 51));
  width: 100vw;
  border-radius: 2px;
}
li{
  list-style: none;
}
.og{
  font-size:40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.og-li{
  background: linear-gradient(35deg,rgb(174, 255, 174),rgb(0, 252, 0));
  padding: 10px 20px;
  margin: auto;
  cursor: pointer;
  opacity: .9;
  border-radius: 5px;
}
.og-li:active{
  background: linear-gradient(45deg, rgb(157,219,255), rgb(0, 162, 255));
}
.og-li:hover{
  background: linear-gradient(45deg, rgb(157,219,255), rgb(0, 162, 255));
}

/* main container for nature starts here */

.main-container1{
 margin-top: 5%; 
  height: 100vh;
  width: 99vw;
  margin-bottom: -5%;
}
#nature-1{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  flex-wrap: wrap;
}
#nature-2{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  flex-wrap: wrap;
}
img{
  object-fit: cover;
  object-position: top;
  width: 320px;
  height: 250px;
}
.main-container2{ 
  margin-top: 5%; 
  height: 100vh;
  width:99vw;

}
#cars-1{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  flex-wrap: wrap;
}
#cars-2{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  flex-wrap: wrap;
}
h1{
  text-align: center; 
}
.main-container3{
  margin-bottom: 5px;  
}
#bikes-1{
 /* margin: 0px 60px 0px 60px;*/
display: grid;
grid-template-columns: 300px 300px 300px;
grid-row-gap: 20px;
justify-content: space-around;
}




